<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <form action="/create-user" method = "post">
        <label for="username"> Username </label>
        <input id = "username" type = "text" name = "userName" required>
        <label for= "age"> Age </label>
        <input id = "age" type = "number" name = "age" required>
        <label for="gender"> Gender </label>
        <input id = "gender" type = "text" name = "gender" required>  
        <button>Submit</button>              
    </form>
</body>
</html>